extends layout

block content
  #user Dad
  .userData Dad's stuff
  #user Mom
  .userData Mom's stuff
  #user Charlie
  .userData Charlie's stuff
  #user Juliet
  .userData Juliet's stuff
  #user Ava
  .userData Ava's stuff

  script
    :coffee
      socket = io.connect()
      socket.on 'connect', (data) ->
        console.log 'wH called from index.jade'
        socket.emit 'screen'
