extends layout

block content
  #timer
  script
    :coffee
      socket.on 'connect', (data) ->
        socket.emit 'timer'
      socket.on 'countdown', (data) ->
        console.log(data)
        $('#timer').text(data.time)
        socket.emit "timer recieved #{data}"

